@import '../../styles/utils/colours';
@import '../../styles/utils/mixins';

$nav-height: 3.75em;
$footer-height: 2em;
$content-height: calc(100vh - #{$nav-height + $footer-height});
$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  width: 100%;
}

.layout__nav {
  padding: 0 2.25%;
  min-height: $nav-height;
  display: flex;
  align-items: center;
  background: $darker;
}

.layout__nav--header {
  margin-right: 1em;
  padding: 1.3em;
  background-color: $brand--bg;
  color: $brand--font;
}

.layout__nav-link {
  margin: 0 6px;
  line-height: 1.25em;
  font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand--font;
  padding: .5em;
  text-align: center;
  border-style: solid;
  border-width: 2px 0;
  border-color: transparent;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.link--active {
    text-shadow: 0 0 3px $black;
    border-color: $brand--bg;
  }
}

.layout__content {
  min-height: $content-height;
  padding: 0 2.25%;

  &::before ,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.layout__footer {
  padding: 0 2.25%;
  height: $footer-height;
  line-height: 2em;
}

.my-account {
  text-align: right;
  flex-grow: 1;
  margin: 0 1em;

  &__link {
    color: $white;
  }
}
