@import '../../../styles/utils/colours';

$row-bg: #EAEAEA;
$row-bg--hover: #CACACA;

.player-table {
  tr,
  td,
  th {
    padding: 5px;
  }

  &__player {
    height: 2em;

    &:nth-child(even) {
      background: $row-bg;
    }

    &:hover {
      background: $row-bg--hover;
    }
  }

  &__meta--stat {
    text-align: center;
  }

  select,
  input {
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    border: 1px solid $brand;
    padding: 0 1em;
    font-size: 1em;
    font-family: sans-serif;
    margin: 0;
    width: auto;

    &[type='submit'] {
      height: auto;
    }
  }

  &__editable {
    padding: 5px calc(1px + 1em);
    font-family: sans-serif;

    &--select {
      padding-left: 9px;
    }
  }
}

.player-table--my-team {
  th {
    select,
    input {
      font-size: .7em;
    }
  }
}

.player-table--admin {
  &__player {
    height: calc(2em + 10px);
  }

  &__data-filter {
    select,
    input {
      border-color: $black;
    }
  }
}
