@import '../../../styles/utils/colours';

.admin__panels {
  position: relative;
  background-color: $lighter;
}

.admin-btn {
  background-color: $brand--light;
  border: 2px solid $darken;
  color: $brand--dark;
  font-size: .8rem;
  padding: .25em 1em;
  cursor: pointer;
  border-radius: 2em;
}
