@import '../../../styles/utils/colours';

.admin-list {
  margin: 2px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: $brand--bg;

  &--secondary {
    font-size: .75em;
  }
}

.admin-list__item {
  display: inline-block;
  padding: 0 1em;
  line-height: 3em;
  flex-grow: 0;

  &:last-child {
    flex-grow: 1;
    text-align: right;
  }
}

.admin-list__text {
  color: $brand--font;
  font-size: 1.5em;
  padding: 0;
  border-style: solid;
  border-width: 2px 0;
  border-color: transparent;

  &.link--active {
    border-color: $lighter;

    &:hover {
      text-decoration: none;
      border-color: $light;
    }
  }

  &--saving {
    border: 0;
    font-size: 1.25em;

    svg {
      animation: spin 4s linear infinite;
      height: 24px;
      width: 24px;
      position: absolute;
      left: -34px;
      top: 20%;

      path {
        fill: $white;
      }
    }
  }
}


input.admin-list__text {
  background: transparent;
  border: 0;
  font-style: italic;
  opacity: .5;
  font-size: .75rem;
  line-height: 2em;
  text-align: right;
  margin-right: 1em;

  &:focus {
    opacity: 1;
  }
}
