@import '../../../styles/utils/colours';

.seasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.seasons__item {
  background-color: $brand--bg;
  display: inline-block;
  padding: 0 1em;
  line-height: 3em;

  &:nth-last-child(2) {
    filter: sepia(25%);
  }

  &:nth-last-child(3) {
    filter: sepia(50%);
  }

  &:nth-last-child(4) {
    filter: sepia(75%);
  }
}

.seasons__text {
  color: $brand--font;
  font-size: 1.5em;
  padding: 0;
}

.seasons__input {
  background: transparent;
  border: 0;
  font-style: italic;
  opacity: .5;
  font-size: .75rem;
  line-height: 2em;
}

.seasons__add-button {
  background-color: $lighten;
  border: 2px solid $darken;
  color: $light;
}
