@import '../../../styles/utils/colours';

.admin-options {
  border: 4px solid  $brand--bg;
  border-top: 0;
  padding: 1em;
  display: flex;
  align-items: baseline;

  &--top {
    align-items: flex-start;
  }
}

.admin-option {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 3em;
  }

  &__btn {
    flex-grow: 1;
    text-align: right;
  }

  &__value {
    margin-left: 1em;
  }

  select,
  input {
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    border: 1px solid $brand--bg;
    padding: 0 1em;
    margin: 0.25em;
    font-size: 1em;
    font-family: sans-serif;
    width: 12em;

    &[type="submit"] {
      height: auto;
    }
  }
}
