$brand: #008F5B;
$brand--light: #86D993;
$brand--dark: #163;

$brand--alt: #39F;
$brand--alt--light: #7BF;

$success: rgba(0, 143, 91, .75);
$warning: rgba(200, 150, 0, .75);
$error: rgba(150, 0, 0, .75);
$error--light: rgb(255, 80, 80);

$text: #444;
$text--light: #777;

$white: #FFF;
$grey: #FBFBFB;
$dark-grey: #CCC;
$black: #000;

$light: rgba(255, 255, 255, .75);
$lighter: rgba(255, 255, 255, .5);
$lighten: rgba(255, 255, 255, .25);
$slighten: rgba(255, 255, 255, .1);
$dark: rgba(0, 0, 0, .75);
$darker: rgba(0, 0, 0, .5);
$darken: rgba(0, 0, 0, .25);
$sdarken: rgba(0, 0, 0, .1);
