$brand--bg: #008f5b;
$brand--font: #fff;

$brand--bg--light: #86d993;

$secondary--bg: #fff;
$secondary--font: #777;

$white: #fff;
$darkGrey: #ccc;
$grey: #fbfbfb;
$black: #000;

$light: rgba(255, 255, 255, 0.85);
$lighten: rgba(255, 255, 255, 0.25);
$dark: rgba(0, 0, 0, 0.85);
$darken: rgba(0, 0, 0, 0.25);
