*,
*:after,
*:before {
  box-sizing: border-box;
  &::selection {
    background: none;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #4682B4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.button,
input[type="submit"],
button {
  color: currentColor;
  background-color: #86d993;
  border: 2px solid rgba(0,0,0,.25);
  //color: #163;
  font-size: .8rem;
  padding: .25em 1em;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.15s ease-in;

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.2);
  }
}

h1, h2, h3 {
  margin-top: 0;
}

.hidden {
  display:none!important;
}
