@import "../utils/colours";

*,
*:after,
*:before {
  box-sizing: border-box;
  &::selection {
    background: none;
  }
}

.bg,
body {
  padding: 0;
  margin: 0;
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url('/stadium-small.jpg');
  background-size: 1600px;
}

.bg {
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  background-position-x: -14px;
  background-position-y: -143px;

  .with-message & {
    background-position-y: -206px;
  }

  .admin & {
    background-position-y: -79px;
  }
}


a {
  color: #4682B4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.button,
input[type="submit"],
button {
  background-color: $brand--bg--light;
  border: 2px solid $darken;
  color: #163;
  font-size: .8rem;
  padding: .25em 1em;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.15s ease-in;

  &:hover {
    border: 2px solid $darken;
    background-color: rgba(0, 0, 0, 0.2);
    color: $white;
  }
}

h1, h2, h3 {
  margin-top: 0;
}

.hidden {
  display:none!important;
}
